 .u-section-1 {
  background-image: url("images/headercmo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.125rem;
  margin: 133px 146px 0 52px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 26px;
  padding: 16px 83px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 3px 31px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 607px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 540px;
  height: 521px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 96px;
    margin-left: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -132px;
    margin-bottom: 39px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 702px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1053px;
  }

  .u-section-2 .u-image-1 {
    height: 521px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -92px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 147px;
    margin-right: 433px;
    margin-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    margin-top: 22px;
    margin-left: 10px;
    padding: 4px 32px 5px 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-right: 287px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    width: 292px;
    margin-top: -538px;
    margin-right: -21px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 556px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 109px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -20px auto 0 108px;
}

.u-section-3 .u-text-3 {
  margin: -21px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: -18px 137px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: -22px auto 0 136px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/IMG_0564-2.JPG');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/IMG_0663.JPG');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/IMG_0701.JPG');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 167px;
  right: 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -30px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -14px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 407px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 444px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -892px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 110px;
    margin-right: 39px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -21px;
    margin-right: 531px;
    margin-left: 38px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -21px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-right: 66px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -21px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -21px;
    margin-right: 560px;
    margin-left: 66px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 242px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-3 .u-gallery-nav-2 {
    right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 399px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 420px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    grid-auto-columns: calc(50% - 9.999975px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: -38px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 251px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 440px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 264px;
  }

  .u-section-3 .u-list-1 {
    min-height: 242px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-gallery-nav-2 {
    top: 101px;
    right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 711px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 540px;
  height: 521px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 607px;
}

.u-section-4 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.125rem;
  margin: 0 130px 0 68px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 42px;
  padding: 16px 83px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 3px 15px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 453px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 80px;
    margin-left: 18px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
    width: 360px;
    margin-left: -15px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -27px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 328px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1495px;
}

.u-section-5 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1335px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 493px auto 0;
}

.u-section-5 .u-image-1 {
  height: 484px;
  width: 545px;
  margin: -529px 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.625rem;
  margin: 55px 143px 0 160px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 493px auto 0;
}

.u-section-5 .u-image-2 {
  height: 484px;
  width: 545px;
  margin: -529px 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.625rem;
  margin: 55px 143px 0 160px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 493px auto 0;
}

.u-section-5 .u-image-3 {
  height: 484px;
  width: 545px;
  margin: -529px 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.625rem;
  margin: 55px 143px 0 160px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  margin: 493px auto 0;
}

.u-section-5 .u-image-4 {
  height: 484px;
  width: 545px;
  margin: -529px 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.625rem;
  margin: 55px 143px 0 160px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 986px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 43px;
    margin-left: 203px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 43px;
    margin-left: 203px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 43px;
    margin-left: 203px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 43px;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1620px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 115px;
    margin-right: 46px;
    margin-left: 443px;
  }

  .u-section-5 .u-image-1 {
    height: 336px;
    width: 410px;
    margin-top: -148px;
    margin-right: 310px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -178px;
    margin-right: 55px;
    margin-left: 452px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 98px;
    margin-right: 46px;
    margin-left: 443px;
  }

  .u-section-5 .u-image-2 {
    height: 336px;
    width: 410px;
    margin-top: -148px;
    margin-right: 310px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -178px;
    margin-right: 55px;
    margin-left: 452px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 98px;
    margin-right: 46px;
    margin-left: 443px;
  }

  .u-section-5 .u-image-3 {
    height: 336px;
    width: 410px;
    margin-top: -148px;
    margin-right: 310px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -178px;
    margin-right: 55px;
    margin-left: 452px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 115px;
    margin-right: 46px;
    margin-left: 443px;
  }

  .u-section-5 .u-image-4 {
    height: 336px;
    width: 410px;
    margin-top: -148px;
    margin-right: 310px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -178px;
    margin-right: 55px;
    margin-left: 452px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 118px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 489px;
    margin-left: 309px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -525px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 489px;
    margin-left: 309px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -525px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 489px;
    margin-left: 309px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: -525px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 489px;
    margin-left: 309px;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -525px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 311px;
    margin-left: 109px;
  }

  .u-section-5 .u-image-1 {
    height: 279px;
    width: 340px;
    margin-top: -347px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 311px;
    margin-left: 109px;
  }

  .u-section-5 .u-image-2 {
    height: 279px;
    width: 340px;
    margin-top: -347px;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 311px;
    margin-left: 109px;
  }

  .u-section-5 .u-image-3 {
    height: 279px;
    width: 340px;
    margin-top: -347px;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 311px;
    margin-left: 109px;
  }

  .u-section-5 .u-image-4 {
    height: 279px;
    width: 340px;
    margin-top: -347px;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 96px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 401px;
}

.u-section-6 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 280px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 67px;
  width: 67px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 67px;
  width: 67px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 67px;
  width: 67px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 335px;
    grid-auto-columns: 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 753px;
    grid-auto-columns: 50%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}